@font-face {
    font-family:Roboto ;
    src: url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&family=Roboto:wght@300&display=swap');
}

.tech {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;


    color: #000000;

}

.loading {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;


    color: #4D4D4D;
    margin-left: 310px;

}